<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">albalupa40</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://WKS-410000-267\SQLEXPRESS:1433;databaseName=PlantPlaces</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.default_schema">dbo</property>
        <property name="show_sql">true</property>
        <mapping resource="com/plantplaces/dto/Plant.hbm.xml"></mapping>
        <mapping resource="com/plantplaces/dto/Specimen.hbm.xml"></mapping>
        <mapping resource="com/plantplaces/dto/Photo.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>